body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #1DB954;
}

button {
    background-color: #1DB954;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #169f4e;
}

#info-spotify {
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #333;
}
