@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


:root {
  --primary-color:#1d1d1d;
  --secondary-color:#1f1f1f;
  --third-color:#1a2d3b;
  --fourth-color:#1e1e1e;
  --fifth-color:#12202a;
  --sixth-color:#0a141b;
  --seventh-color:#2e4152;
  --eight-color:#394e5f;
}
.lightmode{
  --primary-color:#2a4864;
  --secondary-color:#245172;
  --third-color:#4e6e87;
  --fourth-color:#29435a;
  --fifth-color:#183b53;
  --eight-color:#2d2e30;
  

}
body {
  background-color:var(--primary-color);
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
  justify-content: start;
  flex-direction: column;
}

.top-albums{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
 justify-content: space-between;
  height: 400px;
  
}
h2{
  color: white;
}
.album-container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: auto;
  color: white;
}
.image-container{
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  color: white;
}
.image-container img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
#profile-image img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  
}






.nav {
  height: 50px;
  width: 93%;
  max-width: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  
}

.nav i {
  margin-bottom: 10px;
}

  .nav #moon{
    display: none;
  } 
  

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 1%;
  padding: 10px;
  height: 800px;
}

.sidebar {
  background-color: var(--secondary-color);
  height: 755px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px;
  border-radius: 13px;
}

.menu,
.home,
.libreria,
.icon,
.playlist {
  height: fit-content;
}
.libreria{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  width: 300px;
  border-radius: 20px;
}


.home,
.icon,
.playlist,
.tuaplaylist{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  gap: 20px;
  padding-top: 10px;
  height: fit-content;
  border-radius: 20px;
  
}


.icon,
.home,
.playlist .images div,
.tuaplaylist {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  gap: 20px;
  height: fit-content;

  
}

p {
  color: white;
}

.playlist .images{
  width: 460px;
  margin: 0;
  height: 250px;
}
.playlist .images div img{
  height: 40px;
  width: 40px;
}
.playlist .images div{
height: 47px;
width: 300px;
margin-bottom: 13px;
}


.main {
  width: 100%;
  margin: 0 auto;
  
  background: linear-gradient(var(--third-color), var(--fourth-color));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px; /* Aggiunto margine a sinistra */
height: 800px;
z-index: 1;

}

.ricerca,.title {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  max-width: 1400px;
  margin-top: 20px;
 
  
}

.barra {
  display: flex;
  height: 35px;
  width: 700px;
 
  
  background-color: var(--fifth-color);
  border-radius: 13px;
  align-content: flex-start;
  align-items: center;
  border: var(--fifth-color) 1px solid;
}

.barra button {
  background-color: transparent;
  border: none;
  height: 35px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  
  cursor: pointer;
  transition: background-color 0.7s;
}

.ric {
  height: 30px;
  background-color: transparent;
  border: none;
  width: 358px;
  border-radius: 10px;
  color: white;
  outline: none;
}

.barra button:hover {
  background-color: var(--sixth-color);
}

.quiz {
  width: 100%;
  max-width: 1400px;
  margin-top: 20px;
  position: relative;
}
.section-playlist{
  width: 100%;
  max-width: 1400px;
  margin-top: 20px;
  position: relative;
}



.sopra {
  height: 370px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  width: 100%;
  max-width: 1400px;
  position: relative;
}

.user {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.7s;
}
.logout {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.7s;
}


.user:hover {
  background-color: var(--sixth-color);
}
.logout:hover {
  background-color: var(--sixth-color);
}
#user-info{
  display: none;
}

.bottoneplaylist {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  background:transparent;
  color: black;
  border: none;
  transition: background-color 0.7s;
}
.bottoneplaylist:hover {
  background-color: var(--sixth-color);
}


#top-right-button{
  right:0;
  padding:0;
  background: transparent;
  border: none;
}


.search-container{
 
  width: 100%;
  max-width: 1000px;
  height: 400px;
  border-radius: 30px;
  
  position: absolute;
    background-color: #29435a;
    display: none; /* Inizialmente nascosto */
    z-index: 2;
    
    top:250px;

   
}
#search-results{
 
 
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crea due colonne di larghezza uguale */
  gap: 10px;
  padding: 30px;
  margin: auto;
 
}
 .song{
  width: 100%;
  max-width: 650px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;

  margin:  10px;
  background-color: gray;

 }
 .playsong{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;

 }

 audio{
  width: 70%;
  height:100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
 }
audio::-webkit-media-controls-panel {
  background-color:var(--eight-color);
  
  
}
audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider{
  color: #fff;
 
}
.title-playlist{
  display: none;
}
.bottonequiz{
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 25%;
  background:transparent;
  color: black;
  border: none;
  transition: background-color 0.7s;
}

.bottonequiz:hover {
  background-color: var(--sixth-color);
}



#playlist-list {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea due colonne di larghezza uguale */
  gap: 10px;
  padding: 30px;
  margin: auto;
}
.playlist-item{
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: white;
}
.playlist-item img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}


@media screen and (max-width: 1024px) {
  .nav,
  .main,
  .ricerca,
  .title,
  .quiz {
    width: 95%;
    max-width: 95%;
  }

  .sidebar {
    width: 40px;
    
    overflow: hidden;
  }
  #playlists{
    width: auto;
  }
}

@media screen and (max-width: 1940px) {
  .nav,
  .main,
  .ricerca,
  .title,
  .quiz,
  .section-playlist,

  

  .song {
    width: 95%;
    max-width: 95%;
  }


}

@media screen and (max-width: 1440px){
  .search-container{
    width: 80%;
  }
  .sidebar {
    width: 35px;
    
    overflow: hidden;
  }
}