body {
    background-color: #1d1d1d;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Baloo-Regular", Helvetica;
    width: 100%;
    height: 100%;
  }
  
  .sidebar {
    background-color: transparent;
    
    height: 60vh;
    width: 500px;
    
  }
  

  
  .sopra {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 500px;
    margin: 20px;
    height: 30px;
  }
  
  
  .home{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 20px;
    width: 500px;
    margin: 20px;
    height: fit-content;
    padding:20px;
    border-radius: 20px;
  }
  
  .libreria{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    
    justify-content: start;
   
    width: 500px;
    margin: 20px;
    height: 65vh;
    padding:20px;
    border-radius: 20px;
  }
  .icon{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    height: fit-content;
  }
  .buttons{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 300px;
    padding-top: 15px;
    
    height: 90px;
    
    
  }
  #Playlist,#Quiz{
    width: 80px;
    height: 40px;
    margin: 10px;
    border-radius: 30px;
    background-color:#131313;
    color: white;
  }
  
  #Quiz:hover {
    background-color: white;
    color: #131313;
  }
  #Playlist:hover{
    background-color: white;
    color: #131313;
  }
  .active{
    background-color: white;
    color: #131313;
  }
  p {
    color: white;
  }
  .playlist{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    
    justify-content: start;
   
    width: 460px;
    margin: 10px;
    height: 60vh;
    padding:20px;
    border-radius: 20px;
  }
  .playlist .images div img{
    height: 40px;
    width: 40px;
  }
 .playlist .images div{
  height: 50px;
  width: 400px;
  margin-bottom: 5px;
 }
 .tuaplaylist{
  text-align: left;
  display: flex;
  align-items: center;
 gap: 15px;

 }